/* style.css */

/* 1. สั่งให้ทั้งหน้าจอไม่มีขอบขาว และสูงเต็ม 100% */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /*responsive */
    height: 100%; /*respnsive */
} 

/* 2. สั่งให้ตารางกว้างและสูงเต็มหน้าจอ */
table {
    width: 100%; /* responsive */
    height: 100%; /* responsive */
    border-collapse: collapse; /* ลบช่องว่างระหว่างขอบ */
}

/* 3. สั่งให้เซลล์แบ่งกันคนละครึ่ง */
td {
    width: 50%;
    text-align: center;
    font-size: 20px; /* เพิ่มขนาดตัวอักษรหน่อยจะได้เห็นชัด */
}

/* 4. กำหนดสีพื้นหลังแยกตาม Class */
.green-box {
    background-color: greenyellow;
}

.orange-box {
    background-color: orangered;
}